<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Search for Events</title>
    <meta name="description" content="Search for Events">
    <meta name="author" content="AMAU">
</head>


<body>


    <div>
        <div>



        <h1 class="text-center">Search for Events by Name or City</h1>

        <div class="form-group">
            <label for="event-name">Search by Name or City</label>
            <input type="text id="event-name" class="form-control" placeholder="Search By Name or City">
        </div>

        <div class="form-group">
            <input type="submit" class="mt-5 form-control btn btn-success" id="submitBtn" value="Search">
        </div>




        </div>

        <div id="result" class="row mt-5"></div>

    </div>



        <script src="Eventbrite.js"></script>
        <script src="EventbriteApp.js"></script>
        <script src="ui.js"></script>
</body>


</html>